<p id="notice"><%= notice %></p>

<h1>Attachments</h1>


<% @attachments.each do |attachment| %>
  <%= render attachment %>

  <%= link_to 'Show', attachment_path(attachment) %>
  <%= link_to 'Edit', edit_attachment_path(attachment) %>
  <%= link_to 'Destroy', attachment_path(attachment), method: :delete, data: { confirm: 'Are you sure?' } %>

  <br>
<% end %>

<br>

<%= link_to 'New Attachment', new_attachment_path %>
